:root {
  font-size: 13px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope", sans-serif;
}

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 51%;
  height: 35%;
  border-radius: 15px;
  background-color: white;
  text-shadow: 0 0 5px rgba(72, 85, 106, 0.253);
  -webkit-box-shadow: 0 20px 75px 0 rgba(158, 175, 194, 0.03), 10px 0 35px 0 rgba(158, 175, 194, 0.03), -10px 0 35px 0 rgba(158, 175, 194, 0.03);
          box-shadow: 0 20px 75px 0 rgba(158, 175, 194, 0.03), 10px 0 35px 0 rgba(158, 175, 194, 0.03), -10px 0 35px 0 rgba(158, 175, 194, 0.03);
}

.container h1 {
  color: #48556a;
  font-size: 1.6rem;
  font-weight: 700;
}

.drawers {
  width: 39%;
  border-radius: 15px 0 0 15px;
  -webkit-filter: saturate(110%) brightness(105%) contrast(90%);
          filter: saturate(110%) brightness(105%) contrast(90%);
}

.information {
  width: 70%;
  padding: 20px 40px;
}

.description {
  color: #6d7f97;
  line-height: 20px;
}

.avatar {
  width: 14%;
  border-radius: 50%;
}

.share-button {
  position: relative;
  background-color: #ecf2f8;
  border-radius: 50%;
  border: 0;
  padding: 8px;
  height: 15px;
  cursor: pointer;
}

.share-button svg {
  width: 15px;
  height: 15px;
}

path {
  fill: #6d7f97;
}

#share-button.active {
  background-color: #6d7f97;
}

#share-button.active path {
  fill: #ecf2f8;
}

.pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #48556a;
  padding: 2rem;
  color: white;
  font-weight: lighter;
  border-radius: 10px;
  position: absolute;
  width: 200px;
  font-size: 17px;
  right: -355%;
  bottom: 50px;
  display: none;
}

.pop-up p {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.pop-up button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #48556a;
  border: 0;
  width: 16%;
  cursor: pointer;
}

.pop-up button img {
  width: 100%;
}

.pop-up:after {
  content: "";
  position: absolute;
  border-top: 15px solid #48556a;
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid rgba(0, 0, 0, 0);
  bottom: -13px;
  right: 44%;
}

.pop-up {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    top: 15px;
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -65px;
    opacity: 1;
  }
}

@keyframes move {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    top: 15px;
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -65px;
    opacity: 1;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.profile-info div {
  margin-left: 6%;
}

.profile-info p {
  color: #9eafc2;
  font-weight: 500;
  font-size: 0.9rem;
  word-spacing: 3px;
  margin: 0;
}

h4 {
  color: #48556a;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
/*# sourceMappingURL=main.css.map */