$radius: 15px;
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

:root {
  font-size: 13px;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background-color: $light-grayish-blue;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.container {
  margin: auto;
  display: flex;
  width: 51%;
  height: 35%;
  border-radius: $radius;
  background-color: white;
  text-shadow: 0 0 5px hsla(217, 19%, 35%, 0.253);
  box-shadow: 0 20px 75px 0 hsla(212, 23%, 69%, 0.03),
    10px 0 35px 0 hsla(212, 23%, 69%, 0.03),
    -10px 0 35px 0 hsla(212, 23%, 69%, 0.03);

  h1 {
    color: $very-dark-grayish-blue;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.drawers {
  width: 39%;
  border-radius: $radius 0 0 $radius;
  filter: saturate(110%) brightness(105%) contrast(90%);
}

.information {
  width: 70%;
  padding: 20px 40px;
}

.description {
  color: $desaturated-dark-blue;
  line-height: 20px;
}

.avatar {
  width: 14%;
  border-radius: 50%;
}

.share-button {
  background-color: $light-grayish-blue;
  border-radius: 50%;
  border: 0;
  padding: 8px;
  height: 15px;
  cursor: pointer;
  img {
    width: 15px;
    height: 15px;
  }
}

#share-button.active {
  background-color: red;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  align-items: center;
  height: 50px;
  div {
    margin-left: 6%;
  }
  p {
    color: $grayish-blue;
    font-weight: 500;
    font-size: 0.9rem;
    word-spacing: 3px;
    margin: 0;
  }
}

h4 {
  color: $very-dark-grayish-blue;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
